* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100svh;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  display: block;
  max-width: 100%;
}
main {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.hero-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.card-container {
  background-color: hsl(240, 87%, 6%);
  color: hsl(0, 12%, 93%);
  display: flex;
  max-width: 500px;
  border-radius: 10px;
}
.details-container {
  padding: 30px;
}
.card-details {
  display: flex;
  text-align: center;
  gap: 40px;
  /* padding: 20px 15px 20px 15px; */
  padding-block: 20px;
}
.label,
.occupation {
  color: red;
}
h1 {
  font-family: "Bangers", sans-serif;
  font-size: 32px;
  letter-spacing: 2px;
}
h2 {
  font-size: 18px;
}
figure {
  height: 180px;
  /* margin-top: 40px; */
  margin-block: auto;
  padding: 15px;
}
.description-text {
  line-height: 1.5;
}
